<div class="crud-content">
    <div class="header-crud">
        <div class="t">Administración de Categorías</div>
        <div class="options">
            <div class="btn" (click)="openCategoriaModal()"> <i class="fa-solid fa-circle-plus"></i> Nueva Categoría</div>
        </div>
    </div>
    <div class="table-crud">
        <div class="thead">
            <div class="th w10">Id</div>
            <div class="th w10">Orden</div>
            <div class="th wflex">Nombre</div>
            <div class="th w10">Acciones</div>
        </div>
        <div class="tbody-box">
            <div class="tbody">
                <div class="tr" *ngFor="let item of categories">
                    <div class="td w10">{{item.categoria_id}}</div>
                    <div class="td w10">{{item.orden}}</div>
                    <div class="td wflex">{{item.nombre}}</div>
                    <div class="td w10" style="text-align: center;">
                        <div class="ic" (click)="editCat(item)"><i class="fa-solid fa-pen-to-square"></i></div>
                        <div class="ic" (click)="selectCat(item.categoria_id)"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
                <div class="tr empty" *ngIf="categories.length == 0">
                    Sin datos 
                </div>
                <div class="loader" *ngIf="loading">
                    <img src="../../assets/icon/loading.svg">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="pag">
        <div class="p">1</div>
        <div class="p">2</div>
        <div class="next">Próximo</div>
    </div> -->
</div>

<div class="modal-creation-update" *ngIf="modal">
    <div class="box-modal">
        <div class="header">
            <div class="title">{{title}}</div>
            <div class="close" (click)="closeModal()"><i class="fa-solid fa-times"></i></div>
        </div>
        <div class="content">
            <div class="form">
                <div class="form-box" *ngIf="!loadingmodal">
                    <div class="r">
                        <div class="l">Nombre</div>
                        <div class="i"><input type="text" [(ngModel)]="cat.nombre"></div>
                    </div>
                    <div class="r">
                        <div class="l">Orden</div>
                        <div class="i"><input type="number" [(ngModel)]="cat.orden"></div>
                    </div>
                    
                </div>
                <hr>
                <div class="r">
                    <div class="error" *ngIf="errormodal">
                        Todos los campos son obligatorios
                    </div>
                </div>
                <div class="r">
                    <div class="btns">
                        <div class="btn" *ngIf="!loadingmodal" (click)="closeModal()">
                            <div class="text">Cancelar</div>
                        </div>
                        <div class="btn" (click)="createCat()" *ngIf="IsEdit == false">
                            <div class="text" *ngIf="!loadingmodal">Guardar</div>
                            <div class="text" *ngIf="loadingmodal"><i class="fas fa-circle-notch fa-spin"></i></div>
                        </div>
                        <div class="btn" (click)="updateCat()" *ngIf="IsEdit == true">
                            <div class="text" *ngIf="!loadingmodal">Actualizar</div>
                            <div class="text" *ngIf="loadingmodal"><i class="fas fa-circle-notch fa-spin"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-confirm" *ngIf="confirm">
    <div class="box-confirm">
        <div class="header">
            <div class="title">¿Está seguro que desea eliminar la categoría?</div>
            <div class="close" (click)="confirm = false"><i class="fa-solid fa-times"></i></div>
        </div>
        <div class="content">
            <div class="btns">
                <div class="btn" (click)="confirm = false">
                    <div class="text">Cancelar</div>
                </div>
                <div class="btn" (click)="delete()">
                    <div class="text" *ngIf="!loadingmodal">Eliminar</div>
                    <div class="text" *ngIf="loadingmodal"><i class="fas fa-circle-notch fa-spin"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>